html, body {
    height:100%;
}
#board {
    border: 1px solid black;
    position: absolute;
    top:40vh;
    left:50%;
    transform: translateX(-50%);
}

#player {
    position: absolute;
    background-color: blue;
    /* border: 1px solid black; */
}