html, body {
    height:100%;
}
#game {
    border: 1px solid black;
    position: absolute;
    top:40vh;
    left:50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.player {
    position: absolute;
    width: 300px!important;
    height: 300px!important;
    background-size: 30px;
    background-repeat: no-repeat;
    z-index: 10;
}


.fireshot {
    background-position-y: 126px;
    transform: rotate(315deg);
}

.fireshotBurn {
    background-image: url('../img/fireshot.png');
    background-position-y: 110px;
    background-position-x: 175px;
    transform: rotate(270deg);
}

/* .fade-out {
    animation: fadeOut ease 0.5s;
    -webkit-animation: fadeOut ease 0.5s;
    -moz-animation: fadeOut ease 0.5s;
    -o-animation: fadeOut ease 0.5s;
    -ms-animation: fadeOut ease 0.5s;
}

@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  } */

.restart {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: white;
    background-color: black;
    position: absolute;
    top:30vh;
    left:50%;
    transform: translateX(-50%);
    border:1px solid black;
    padding:10px 20px;
}